* {
   border: 1px solid pink;
}

body {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.container {
    display: grid;
    width: 40%;
    height: 40%;
    grid-template-columns: repeat(16, auto);
}

.gridElement {
    aspect-ratio: 1;
}

.pixel {
    background-color: black;
}